@import "tailwindcss";

:root {
  --background: #002626;
  --foreground: #efe7da;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: #0e4749;
  --color-tertiary: #6c91c2;
  --color-accent: #e2856e;
  --font-sans: var(--font-geist-sans);
  --font-roboto: var(--font-roboto_c);
  --font-roboto_m: var(--font-roboto_m);
  --font-mono: var(--font-geist-mono);
  --shadow-glow: 0 0 10px 0 var(--color-accent);

  --animate-typewriter: typewriter-loop 2s steps(4) infinite blink 1s step-end infinite;
  @keyframes typewriter-loop {
    0% {
      width: 0;
    }
    40% {
      width: 100%;
    }
    60% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }

  @keyframes blink {
    0%,
    100% {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    @apply text-foreground bg-background font-roboto;
  }
}

html {
  scroll-behavior: smooth;
}
